[user]
    name = {{ provisions_git_name }}
    email = {{ provisions_git_email }}

[core]
    longpaths = true
    compression = 9
    packedGitLimit = 512m
    packedGitWindowSize = 512m

[pack]
    deltaCacheSize = 2047m
    packSizeLimit = 2047m
    windowMemory = 2047m

[credential "https://bitbucket.org"]
    helper = cache --timeout=604800
