{
  "telemetry.telemetryLevel": "off",
  "update.mode": "manual",
  "security.workspace.trust.enabled": false,
  "editor.fontFamily": "JetBrains Mono",
  "editor.fontSize": 14,
  "editor.lineHeight": 1.5,
  "editor.renderWhitespace": "boundary",
  "editor.rulers": [80, 100],
  "editor.formatOnSave": true,
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true
}
